.event-pop-up {
  position: absolute;
  width: auto;
  height: 60px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 8px;
  border: 1px solid black;
  z-index: 1;
}

.edit-button {

}